<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/main.min.js"></script>
<link rel="stylesheet" href="css/styles.min.css">

<title>Trinity Force Networks</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

	<section class="main-container">
		<div class="header">
			<div class="logo"> 
				<img src="images/logo-letters.png">
			</div>
			<div class="logo-responsive">
				<img src="images/logo-letters.png">
			</div>
			<div class="social-networks">
				<img src="images/tw_logo.png">
				<img src="images/fb_logo.png">
				<img src="images/reddit_logo.png">
			</div>
			<div class="social-responsive">
				<a href="player.html"> <img src="images/tw_logo.png"> </a>
				<a href="podcast.html"> <img src="images/fb_logo.png"> </a>
				<a href="text.html"> <img src="images/reddit_logo.png"> </a>
			</div>
			<div class="search-box">
				Sponsors? <a href="#">Contact us!</a>
				<input type="text" name="search" />
				<img src="images/search-icon.png" />
			</div>
			<div class="menu">
				<a href="index.html"> League of Legends </a>
				<a href="player.html"> Hearthstone </a>
				<a href="podcast.html"> Table Top Games </a>
				<a href="text.html"> Gaming </a>
				<a href="index.html"> Overwatch </a>
			</div>
		</div>
		<div class="banners-home">
			<div class="big-banner">
				<div class="banner-purple">
					<div class="text-banner">
						<p class="title"> {{featured[0].title}} </p>
						<p class="episode"> {{featured[0].subtitle}} </p>
						<p class="host"> Host: <span ng-repeat="x in featured[0].hosts"> {{x[1]}}, </span></p>
					</div>
				</div>
				<img src="http://trinityforcenetwork.com/{{featured[0].image_url}}" />
			</div>
			<div class="small-banners">
				<div class="single-banner" style="background-image: url('http://trinityforcenetwork.com/{{featured[1].image_url}}');">
					<div class="text-banner">
							<p class="title"> {{featured[1].title}} </p>
							<p class="episode">  </p>
							<p class="host">  <span ng-repeat="x in featured[1].hosts"> {{x[1]}}, </span></p>
					</div>
				</div>
				<div class="single-banner" style="background-image: url('http://trinityforcenetwork.com/{{featured[2].image_url}}');">
					<div class="text-banner">
							<p class="title"> {{featured[2].title}} </p>
							<p class="episode">  </p>
							<p class="host">  <span ng-repeat="x in featured[2].hosts"> {{x[1]}}, </span></p>
					</div>
				</div>
				<div class="single-banner" style="background-image: url('http://trinityforcenetwork.com/{{featured[3].image_url}}');">
					<div class="text-banner">
							<p class="title"> {{featured[3].title}} </p>
							<p class="episode"> </p>
							<p class="host">  <span ng-repeat="x in featured[3].hosts"> {{x[1]}}, </span></p>
					</div>
				</div>
				<div class="single-banner" style="background-image: url('http://trinityforcenetwork.com/{{featured[4].image_url}}');">
					<div class="text-banner">
							<p class="title"> {{featured[4].title}} </p>
							<p class="episode">  </p>
							<p class="host">  <span ng-repeat="x in featured[2].hosts"> {{x[1]}}, </span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="banner-ad">
			Banner Ad
		</div>

		<div class="recent">
			<div class="title">
				<h1>Recent</h1>
			</div>
			<div class="recent-item">
				<img src="http://trinityforcenetwork.com/{{latest[0].image_url}}" />
				<div class="text-item">
					<p class="title"> {{latest[0].title}} </p>
					<p class="episode">  </p>
					<p class="host"> <span ng-repeat="x in latest[0].hosts"> {{x[1]}}, </span> </p>
				</div>

			</div>
			<div class="recent-item">
				<img src="http://trinityforcenetwork.com/{{latest[1].image_url}}" />
				<div class="text-item">
					<p class="title"> {{latest[1].title}} </p>
					<p class="episode">  </p>
					<p class="host"> <span ng-repeat="x in latest[1].hosts"> {{x[1]}}, </span> </p>
				</div>

			</div>
			<div class="recent-item">
				<img src="http://trinityforcenetwork.com/{{latest[2].image_url}}" />
				<div class="text-item">
					<p class="title"> {{latest[2].title}} </p>
					<p class="episode">  </p>
					<p class="host"> <span ng-repeat="x in latest[2].hosts"> {{x[1]}}, </span> </p>
				</div>

			</div>
			<div class="recent-item">
				<img src="http://trinityforcenetwork.com/{{latest[3].image_url}}" />
				<div class="text-item">
					<p class="title"> {{latest[3].title}} </p>
					<p class="episode">  </p>
					<p class="host"> <span ng-repeat="x in latest[3].hosts"> {{x[1]}}, </span> </p>
				</div>

			</div>
			<div class="recent-item">
				<img src="http://trinityforcenetwork.com/{{latest[4].image_url}}" />
				<div class="text-item">
					<p class="title"> {{latest[4].title}} </p>
					<p class="episode"> </p>
					<p class="host"> <span ng-repeat="x in latest[4].hosts"> {{x[1]}}, </span> </p>
				</div>

			</div>
			<div class="recent-item">
				<img src="http://trinityforcenetwork.com/{{latest[5].image_url}}" />
				<div class="text-item">
					<p class="title"> {{latest[5].title}} </p>
					<p class="episode">  </p>
					<p class="host"> <span ng-repeat="x in latest[5].hosts"> {{x[1]}}, </span> </p>
				</div>

			</div>
			<div class="recent-item">
				<img src="http://trinityforcenetwork.com/{{latest[6].image_url}}" />
				<div class="text-item">
					<p class="title"> {{latest[6].title}} </p>
					<p class="episode"> </p>
					<p class="host"> <span ng-repeat="x in latest[6].hosts"> {{x[1]}}, </span> </p>
				</div>

			</div>
			<div class="recent-item">
				<img src="http://trinityforcenetwork.com/{{latest[7].image_url}}" />
				<div class="text-item">
					<p class="title"> {{latest[7].title}} </p>
					<p class="episode"> </p>
					<p class="host"> <span ng-repeat="x in latest[7].hosts"> {{x[1]}}, </span> </p>
				</div>

			</div>
		</div>
	</section>
	<div class="footer">
		<div class="social-networks">
			<img src="images/tw_logo.png">
			<img src="images/fb_logo.png">
			<img src="images/reddit_logo.png"><br/><br/>
			Copyright Trinity Force Networks 2011-2016 
			Contact: <a href="#"> feedback@trinityforcepodcast.com </a>
		</div>
	</div>
</body>
</html>